input[type=text] {
    background-color: lightcyan;
    background-position: 10px 30px;
    background-repeat: no-repeat;
  }
  input[type=number] {
    background-color: lightcyan;
    background-position: 10px 10px;
    background-repeat: no-repeat;
  }
  input[type=password] {
    background-color: lightcyan;
    background-position: 10px 10px;
    background-repeat: no-repeat;
  }

  input[type=button], input[type=submit]{
    background-color: lightblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn-link {
    background-color: lightblue;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  /* a:hover, a:active {
    background-color: green;
    color: white;
  }   */
  .divider{
    width:5px;
    height:auto;
    display:inline-block;
}
  .error{
    color: red !important;
  }